<div class="row">
  <div class="small-6 columns">
    <h2> <%= @entry.user.username %> wrote </h2>
  </div>
  <div class="small-6 columns">
    <% if current_user == @entry.user %>
        <div class="small button-group actions">
          <%= link_to 'Edit journal entry',
                      edit_user_journal_entry_path(current_user, @entry),
                      class: 'button primary' %>
          <%= link_to 'Delete journal entry',
                      user_journal_entry_path(current_user, @entry),
                      class: 'button alert',
                      method: :delete %>

        </div>
    <% end %>
  </div>
</div>


<div class="row">
  <div class="small-12 columns">
    <p>
      <%= @entry.content %>
    </p>
  </div>
</div>

<% if @entry.comments.present? %>
  <div class="row">
    <div class="small-12 columns">
      <h3> Comments </h3>
    </div>
  </div>
<% end %>

<% @entry.comments.each do |comment| %>
    <div class="row">
      <div class="small-12 columns">
        <p>
          <%= comment.user.username %> said...
          <br/>
          <%= comment.body %>
        </p>
        <div class="tiny button-group">
          <% if comment.user == current_user %>
              <%= link_to 'Edit comment',
                          edit_comment_path(comment),
                          class: 'primary button'   %>
              <%= link_to 'Deleet comment',
                          comment_path(comment),
                          class: 'alert button',
                          method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>


<div class="row">
  <div class="small-12 columns">
    <h3> Leave a comment </h3>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= render 'user_journal_entries/comment_form', entry: @entry %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <%= link_to 'View other journal entries', user_journal_entries_path(@entry.user) %>
  </div>
</div>

