<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :journal_entry_id, value: entry.id %>
  <div class="row">
    <div class="small-6 columns">
      <%= f.text_area :body %>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns">
      <%= f.submit "Leave Commet", class: 'small button primary' %>
    </div>
  </div>
<% end %>
